.about {
  @include container;
  padding-left: 205px;
  padding-top: 76px;
  padding-bottom: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("../img/year-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: -8px 80px;
  background-size: 220px 317px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    padding-left: 213px;
    padding-top: 26px;
    padding-bottom: 80px;
    background-image: url("../img/year-tablet@1x.png");
    background-position: -2px 25px;
    background-size: 251px 362px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/year-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-max) {
    padding-top: 40px;
    background-image: none;
    padding-left: 15px;
    padding-bottom: 63px;
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;
  color: $text-color;

  @media (max-width: $tablet-max) {
    margin-bottom: 26px;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 19px;
    font-size: 28px;
  }
}

.about p {
  margin: 0;
  margin-bottom: 20px;
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.about span {
  &:last-of-type {
    display: none;
  }

  @media (max-width: $tablet-max) {
    &:first-of-type {
      display: none;
    }

    &:last-of-type {
      display: inline;
    }
  }
}

.about__button {
  min-width: 178px;
  max-width: 50%;
  margin-top: 19px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;


  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 5px;

  cursor: pointer;
  overflow: hidden;

  @media (max-width: $tablet-max) {
    margin-top: 21px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 30px;
    max-width: 90%;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
