.about {
  padding-left: 180px;
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-image: url("../img/year-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 220px 317px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url("../img/year-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/year-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-max) {
    background-image: none;
    padding-left: 0;
    padding-bottom: 65px;
  }
}

.about__header {
  margin: 0;
  margin-bottom: 15px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;
  color: $text-color;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
  }
}

.about__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}

.about__button {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;


  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
