.contact {
  padding-top: 90px;
  padding-bottom: 120px;

  color: $background-color;
  background-color: $accent-color;

  background-image: url("../img/airplane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.contact-inner {
  max-width: 750px;
  margin-left: auto;

  display: flex;
  flex-direction: column;
}

.contact__description {
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;
}

.contact__details {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form__input {
  background-color: rgba(255, 255, 255, 0.1);
  color: $background-color;

  width: calc(50% - 30px);
  min-height: 50px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;

  border: none;

  &::placeholder {
    color: $background-color;
  }

  &--textarea {
    width: 100%;
    padding-top: 15px;
  }

  &:focus {
    outline: none;
    border: 2px solid $background-color;
  }
}

.contact-form__button {
  width: 270px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  background: none;
  color: $background-color;
  border: 2px solid $background-color;
  border-radius: 5px;
  overflow: hidden;

  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.contact-form__label {
  font-family: $main-font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $background-color;
  opacity: 0.8;
}
