.contact {
  padding-top: 92px;
  padding-bottom: 114px;

  color: $background-color;
  background-color: $accent-color;

  background-image: url("../img/contact/airplane-desktop@1x.png"), url("../img/contact/contact-triangles-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 355px) 160px, 100% 60%;
  background-size: 511px 288px, auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/contact/airplane-desktop@2x.png"), url("../img/contact/contact-triangles-desktop@2x.png");
    background-size: 511px 288px, 1745px 765px;
  }

  @media (max-width: $tablet-max) {
    padding-top: 81px;
    padding-bottom: 106px;
    background-image: none;
  }

  @media (max-width: $mobile-max) {
    padding-top: 31px;
    padding-bottom: 42px;
  }
}

.contact-inner {
  @include container;
}

.contact_content-wrapper {
  max-width: 570px;
  margin-left: auto;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-max) {
    max-width: calc(100% - 128px);
    margin: 0 auto;
  }

  @media (max-width: $mobile-max) {
    max-width: 100%;
  }
}

.contact p:first-of-type {
  margin: 0;
  margin-bottom: 9px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-max) {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 39px;
  }
}

.contact p:last-of-type {
  margin: 0;
  margin-bottom: 51px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-max) {
    margin-bottom: 54px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 26px;
  }
}
