.contact {
  padding-top: 90px;
  padding-bottom: 120px;

  color: $background-color;
  background-color: $accent-color;

  background-image: url("../img/airplane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center left;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/airplane-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    background-image: none;
  }

  @media (max-width: $mobile-max) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.contact-inner {
  @include container;
}

.contact_content-wrapper {
  max-width: 750px;
  margin-left: auto;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-max) {
    max-width: calc(100% - 160px);
    margin: 0 auto;
  }

  @media (max-width: $mobile-max) {
    max-width: 100%;
  }
}

.contact__description {
  margin: 0;
  margin-bottom: 20px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
  }
}

.contact__details {
  margin: 0;
  margin-bottom: 45px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form__input {
  background-color: rgba(255, 255, 255, 0.1);
  color: $background-color;

  width: calc((100% - 30px) / 2);
  min-height: 50px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;

  border: none;

  &::placeholder {
    color: $background-color;
  }

  &--textarea {
    width: 100%;
    padding-top: 15px;
  }

  &:focus {
    outline: none;
    border: 2px solid $background-color;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact-form__button {
  width: 270px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;


  background: none;
  color: $background-color;
  border: 2px solid $background-color;
  border-radius: 5px;
  overflow: hidden;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-max) {
    margin-bottom: 0;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.contact-form__label {
  position: relative;
  padding-left: 30px;

  width: calc(100% - 270px - 30px);

  font-family: $main-font-family;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: $background-color;
  opacity: 0.8;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $background-color;
    top: 0;
    left: 0;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
  }
}

input[type="checkbox"]:checked + .contact-form__label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 4px;
  width: 8px;
  height: 5px;
  background-image: url("../img/icon-checkmark.svg");
  background-repeat: no-repeat;
}
