.intro__inner {
  height: 600px;
  background-image: url("../img/intro-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 705px 515px;
  background-position: right;
}

.intro__header {
  font-family: RobotoCondensed;
  font-size: 80px;
  font-weight: $bold;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $background-color;
}
