.page-header {
  padding-top: 32px;
  padding-bottom: 92px;

  color: $background-color;
  background-color: $main-color;
  background-image: url("../img/header/intro-desktop@1x.png"), url("../img/header/header-triangles-desktop@1x.png"), url("../img/header/header-bg-desktop@1x.png");
  background-size: auto, cover, cover;
  background-repeat: no-repeat;
  background-position: 85% 72%, 85% 72%, 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header/intro-desktop@2x.png"), url("../img/header/header-triangles-desktop@2x.png"), url("../img/header/header-bg-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    padding-top: 20px;
    background-image: url("../img/header/intro-tablet@1x.png"), url("../img/header/header-triangles-tablet@1x.png"), url("../img/header/header-bg-tablet@1x.png");
    background-size: 265px 340px, 770px 566px, cover;
    background-position: 100% 114px, 100% -2px, 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header/intro-tablet@2x.png"), url("../img/header/header-triangles-tablet@2x.png"), url("../img/header/header-bg-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-max) {
    padding-top: 16px;
    padding-bottom: 30px;
    background-image: url("../img/header/intro-mobile@1x.png"), url("../img/header/header-triangles-mobile@1x.png"), url("../img/header/header-bg-mobile@1x.png");
    background-size: 301px 220px, 320px 529px, cover;
    background-position: 100% 90px, 100% 0, 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header/intro-mobile@2x.png"), url("../img/header/header-triangles-mobile@2x.png"), url("../img/header/header-bg-mobile@2x.png");
    }
  }
}

.page-header__navigation {
  @include wide-container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding-bottom: 20px;

  @media (max-width: $tablet-max) {
    padding-left: 25px;
    padding-right: 15px;
    align-items: flex-start;
  }

  @media (max-width: $mobile-max) {
    padding-left: 15px;
    padding-right: 5px;
  }
}

.page-header-logo__wrapper {
  width: 202px;
  height: 52px;

  @media (max-width: $mobile-max) {
    width: 38px;
    height: 38px;
  }
}

.page-header__contacts {
  @include reset-list;
  margin-left: auto;
  margin-right: 49px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    margin-right: 0;
  }
}

.page-header__contacts-item {
  &:nth-of-type(1) {
    margin-right: 87px;

    @media (max-width: $tablet-max) {
      margin-right: 20px;
    }
  }
}

.page-header__contacts-link {
  position: relative;
  padding-left: 35px;

  font-family: $main-font-family;
  font-size: 16px;
  font-weight: $normal;

  color: $background-color;

  cursor: pointer;

  @media (max-width: $tablet-max) {
    font-size: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--email {
    &::before {
      background-image: url("../img/icon-mail.svg");
      background-size: 19px 14px;
      width: 19px;
      height: 14px;
      top: 0;
      left: -3px;

      @media (max-width: $tablet-max) {
        width: 25px;
        height: 22px;
        background-size: 25px 22px;
      }

      @media (max-width: $mobile-max) {
        top: -7px;
        left: 8px;
      }
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icon-phone.svg");
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      top: -2px;
      left: 0;

      @media (max-width: $tablet-max) {
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
      }

      @media (max-width: $mobile-max) {
        top: -7px;
        left: 1px;
      }
    }
  }
}

.page-header__call-me {
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 14px;
  padding-bottom: 14px;

  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $background-color;

  cursor: pointer;
  overflow: hidden;

  border: 2px solid $background-color;
  background-color: transparent;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $tablet-max) {
    display: none;
  }
}
