.page-footer {
  padding-top: 65px;
}

.page-footer-inner {
  @include wide-container;
}

.page-footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 60px;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    flex-direction: row;
    margin-bottom: 60px;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__logo-wrapper {
  @media (max-width: $mobile-max) {
    margin-bottom: 25px;
  }
}

.page-footer__social-list {
  @include reset-list;
  display: flex;
}

.page-footer__social-link {
  cursor: pointer;
}

.page-footer__menu {
  display: flex;
  justify-content: space-between;
  min-width: 60%;

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.page-footer__nav-title,
.page-footer__contacts-title {
  margin: 0;
  margin-bottom: 28px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $main-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 35px;
  }
}

.page-footer__nav-columns {
  display: flex;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }
}

.page-footer__nav-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.page-footer__nav-link {
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 25px;

  color: $main-color;
  opacity: 0.5;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__contacts-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.page-footer__contacts-item {
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 25px;

  color: $main-color;
  opacity: 0.5;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__copyright-text,
.page-footer__copyright-years,
.page-footer__copyright-docs,
.page-footer__copyright-developer,
.page-footer__top-years {
  margin: 0;
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;

  color: $main-color;
  opacity: 0.5;
}

.page-footer__copyright-docs,
.page-footer__copyright-developer {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-docs {
  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
  }
}

.page-footer__copyright-text,
.page-footer__copyright-years {
  @media (max-width: $tablet-max) {
    display: none;
  }
}

.page-footer__top-years {
  display: none;

  @media (max-width: $tablet-max) {
    display: flex;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 30px;
  }
}
