.page-header {
  padding-top: 33px;
  padding-bottom: 92px;

  color: $background-color;
  background-color: $main-color;
  background-image: url("../img/header-bg-desktop@1x.png"), url("../img/header-triangles-desktop@1x.png");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-bg-desktop@2x.png"), url("../img/header-triangles-desktop@2x.png");;
  }

  @media (max-width: $tablet-max) {
    background-image: url("../img/header-bg-tablet@1x.png"), url("../img/header-triangles-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-bg-tablet@2x.png"), url("../img/header-triangles-tablet@2x.png");
    }
  }
}

.page-header__navigation {
  @include wide-container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 100px;
}

.page-header-logo__wrapper {
  width: 202px;
  height: 52px;
}

.page-header__contacts {
  @include reset-list;

  width: 30%;
  display: flex;
  justify-content: space-between;
}

.page-header__contacts-link {
  position: relative;
  padding-left: 30px;

  font-family: $main-font-family;
  font-size: 16px;
  font-weight: $normal;

  color: $background-color;

  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--email {
    &::before{
      background-image: url("../img/icon-mail.svg");
      background-size: 19px 14px;
      width: 19px;
      height: 14px;
      top: 3px;
      left: -3px;
    }
  }

  &--phone{
    &::before {
      background-image: url("../img/icon-phone.svg");
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      top: 1px;
      left: 0px;
    }
  }
}

.page-header__call-me {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: $header-font-family;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;

  border: 2px solid $background-color;
  border-radius: 5px;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
