.page-footer {
  position: relative;
  padding-top: 65px;
  padding-bottom:10px;

  @media (max-width: $tablet-max) {
    padding-top: 19px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      top: 97px;
      left: 0;
      border-top: 1px solid rgba(98, 98, 98, 0.2);
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 45px;
    left: 0;
    border-top: 1px solid rgba(98, 98, 98, 0.2);

    @media (max-width: $tablet-max) {
      bottom: 45px;
    }
  }
}

.page-footer-inner {
  @include wide-container;
  padding-left: 17px;

  @media (max-width: $tablet-max) {
    padding-left: 25px;
  }
}

.page-footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 70px;

  @media (max-width: $tablet-max) {
    flex-direction: column;
    margin-bottom: 57px;
  }
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.page-footer__logo-wrapper {
  @media (max-width: $mobile-max) {
    margin-bottom: 25px;
  }
}

.page-footer__social-list {
  @include reset-list;
  display: flex;
}

.page-footer__social-link {
  cursor: pointer;
}

.page-footer__social-icon {
  fill: $social-color;
}

.page-footer__social-link:hover .page-footer__social-icon {
  fill: $accent-color;
}

.page-footer__menu {
  display: flex;
  justify-content: space-between;
  min-width: 70%;

  @media (max-width: $mobile-max) {
    flex-direction: column;
  }
}

.page-footer__nav-title,
.page-footer__contacts-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $main-color;

  @media (max-width: $mobile-max) {
    margin-bottom: 35px;
  }
}

.page-footer__nav-columns {
  display: flex;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }
}

.page-footer__nav-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &:nth-of-type(1) {
    margin-right: 72px;
  }
}

.page-footer__nav-link {
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 25px;

  color: $main-color;
  opacity: 0.5;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__contacts-list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-max) {
    padding-right: 16px;
  }
}

.page-footer__contacts-item {
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 15px;
  line-height: 25px;

  color: $main-color;
  opacity: 0.5;
}

.page-footer__copyright {
  display: flex;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    align-items: center;
  }
}

.page-footer__copyright-text,
.page-footer__copyright-years,
.page-footer__copyright-docs,
.page-footer__copyright-developer,
.page-footer__top-years {
  margin: 0;
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-color;
  opacity: 0.5;
}

.page-footer__copyright-docs {
  cursor: pointer;

  @media (max-width: $mobile-max) {
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}


.page-footer__copyright-text {
  margin-right: 75px;

  @media (max-width: $tablet-max) {
    display: none;
  }
}

.page-footer__copyright-years {
  margin-right: 142px;
  @media (max-width: $tablet-max) {
    display: none;
  }
}

.page-footer__copyright-developer {
  margin-left: auto;
  cursor: pointer;

  @media (max-width: $tablet-max) {
    padding-right: 5px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__top-years {
  display: none;

  @media (max-width: $tablet-max) {
    display: flex;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 30px;
  }
}
