.popup {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: calc(50% - 245px);
  width: 490px;

  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 35px;

  display: flex;
  flex-direction: column;

  background-color: $accent-color;
  color: $background-color;

  &--closed {
    display: none;
  }
}

.popup-close {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  right: 20px;
  top: 20px;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.popup h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 28px;
  line-height: 39px;
}

.popup p {
  margin: 0;
  margin-bottom: 30px;
  font-family: $main-font-family;
  font-weight: $normal;
  font-size: 16px;
  line-height: 22px;
}

.popup-form {
  display: flex;
  flex-direction: column;
}
