.services {
  padding-top: 90px;
  padding-bottom: 125px;

  color: $background-color;
  background-color: $main-color;
}

.services__description {
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;
}

.services-list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
}

.services-item {
  display: flex;
}

.services-item__link {
  width: 370px;
  min-height: 620px;

  background-repeat: no-repeat;

  &--production {
    background-image: url("../img/service-production-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/service-production-desktop@2x.png");
    }
  }

  &--install {
    background-image: url("../img/service-install-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/service-install-desktop@2x.png");
    }
  }

  &--light {
    background-image: url("../img/service-light-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/service-light-desktop@2x.png");
    }
  }
}

.services-item__title {
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 20px;
  line-height: 30px;

  color: $background-color;
}
