.services {
  padding-top: 90px;
  padding-bottom: 125px;

  color: $background-color;
  background-color: $main-color;

  @media (max-width: $tablet-max) {
    padding-top: 50px;
    padding-bottom: 33px;
  }
}

.services-inner {
  @include container;
}

.services p {
  margin: 0;
  margin-bottom: 51px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-max) {
    padding-left: 10px;
    margin-bottom: 42px;
    font-size: 28px;
    line-height: 39px;
  }
}

.services__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    flex-direction: column;
  }
}

.services__item {
  display: flex;
  max-width: 370px;
  width: calc((100% - 60px) / 3);

  @media (max-width: $tablet-max) {
    width: 100%;
    max-width: 100%;
  }
}

.services__item a {
  position: relative;
  max-width: 370px;
  padding: 20px;
  width: 100%;
  min-height: 620px;

  background-color: $main-color;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max) {
    margin: 0 auto;
    margin-bottom: 45px;
    max-width: 720px;
    width: 100%;
    min-height: 256px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 30px;
  }

  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    background-color: $accent-color;
    bottom: 0;
    right: 0;

    background-image: url("../img/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.services__item--production a {
  background-image: url("../img/services/service-production-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services/service-production-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    background-image: url("../img/services/service-production-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services/service-production-tablet@2x.png");
    }
  }
}

.services__item--install a {
  background-image: url("../img/services/service-install-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services/service-install-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    background-image: url("../img/services/service-install-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services/service-install-tablet@2x.png");
    }
  }
}

.services__item--light a {
  background-image: url("../img/services/service-light-desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/services/service-light-desktop@2x.png");
  }

  @media (max-width: $tablet-max) {
    background-image: url("../img/services/service-light-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/services/service-light-tablet@2x.png");
    }
  }
}

.services__item h3 {
  margin: 0;
  margin-top: 30px;
  margin-left: 23px;
  max-width: 150px;
  font-family: $header-font-family;
  font-weight: $normal;
  font-size: 20px;
  line-height: 30px;

  max-height: 30%;
  overflow: hidden;

  color: $background-color;

  @media (max-width: $tablet-max) {
    margin-top: 20px;
    max-height: 150px;
  }

  @media (max-width: $mobile-max) {
    margin-left: 17px;
    margin-top: 0;
  }
}

.services__item--light h3 {
  @media (max-width: $tablet-max) {
    margin-top: 30px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 10px;
  }
}
