$text-color:#666666;
$accent-color: #00b2ff;
$background-color: #ffffff;
$main-color: #1b2d37;

$bold: 700;
$normal: 400;

$header-font-family: RobotoCondensed, Helvetica, sans-serif;
$main-font-family: PTMono, Courier, monospace;
